
@if(isAddingTask()) {
    <app-new-task (closed)="closeTask()" [userId]="getUserId(name() ?? '')"></app-new-task>
}

<section id = "tasks">
    @if(name() == '') {
        <p> Please select person! </p>
    } 
    @else {
    <header>
        <h2>{{ name() }}'s Tasks </h2>
        <menu>
            <button (click) = "addTask()">Add Task</button>
        </menu>
   </header>
   <ul>
    @for (task of selectedTasks(); track $index) {
        <li>
            <app-task [task]="task" (completed)="onCompleteTask($event )"></app-task>
        </li>
    }
    </ul>
    }

</section>


