<app-header />

<main>
  <ul id ="users">
    <li>
      <app-user [user]="users[0]" (selectUserEvent)="onSelectUser($event )" />
    </li>
    <li>
      <app-user [user]="users[1]" (selectUserEvent)="onSelectUser($event)" />
    </li>
    <li>
      <app-user [user]="users[2]" (selectUserEvent)="onSelectUser($event)" />
    </li>
    <li>
      <app-user [user]="users[3]" (selectUserEvent)="onSelectUser($event)"/>
    </li>
  </ul>

  <app-tasks [name]="selectedUserName()"></app-tasks>

</main>